.App {
  display: grid;
  place-items: center;
  min-height: 100vh;
}

form {
  width: 100%;
  max-width: 400px;
  margin: 15px auto;
  display: flex;
}

form input {
  border: solid 1px rgb(205, 14, 14);
  outline: 1px solid rgb(205, 14, 14);
}
form button {
  min-width: 60px;
  border: none;
  background-color: rgb(205, 14, 14);
  color: #fff;
  outline: 1px solid rgb(205, 14, 14);
  cursor: pointer;
}

.video {
  width: 100%;
  max-width: 980px;
}
